body {
	margin: 0;
	overflow-x: hidden;
	background-color: #54CBCA;
}

/* Estilos para el encabezado */
.contenedor {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: auto;

}
.header {
	padding: 20px;
	background-color: #ffffff;
	color: #000000;
	align-items: center;
	margin-top: 40px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	margin-bottom: 50px;
  border: 1px solid black;
}

.header__title {
	font-size: 28px;
}

.nav {
	display: flex;
	list-style: none;
}

.nav__item {
	margin-right: 40px;
}

.nav__item a {
	color: #000000;
	text-decoration: none;
}

/* Estilos para el contenido principal */
.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.main {
	/* width: 90%; */
}

.content {
	width: 60%;
}

.article {
	background-color: #D1F7F4;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border: 1px solid black;
}

.article__title {
	font-size: 20px;
	margin-bottom: 10px;
}

.article__text {
	line-height: 1.5;
}
.article img {
	width: 150px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border: 1px solid black;
}

/* Estilos para la barra lateral */
.sidebar {
	width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar article{
display: flex;
  background: #FFFACD;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border: 1px solid black;
  
  padding: 20px;
}

.sidebar__title {
	font-size: 24px;
	margin-bottom: 10px;
}

.sidebar__text {
	line-height: 1.5;
}

/* Estilos para el pie de página */
.footer {
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.footer__text {
	font-size: 14px;
}
